.App {
  width: 80%;
  margin: auto;
}
.stbtns {
  margin: auto;
  width: fit-content;
  display: flex;
}
.actual-stbtn {
  font-size: 3rem;
  margin: 60px;
  padding: 30px 50px;
  cursor: pointer;
  border: 5px solid blue;
  border-radius: 10px;
}
.actual-stbtn-disabled {
  padding: 10px 20px;
  border: 1px dashed;
}
.box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
  position: absolute;
  margin-top: 80px;
}
h1 {
  font-size: 40px;
  letter-spacing: 5px;
}
h3 {
  margin: 10px;
  letter-spacing: 1px;
}
.secret-message {
  width: fit-content;
  display: flex;
  width: 60%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  outline: transparent;
}
.input-secret {
  padding: 10px 20px;
  margin: 20px 0;
  width: 50%;
  min-width: 300px;
  border-color: none;
}
.input-secret::placeholder {
  text-align: center;
}
.message-text {
  /* min-height: 20px; */
  height: fit-content;
  margin: 10px auto 20px;
  font-size: 20px;
  font-style: italic;
  width: 70%;
}
.nav-stbtns {
  display: flex;
  flex-direction: column;
}
/* .input-secret:focus-visible {
    outline: 0px transparent solid; border: transparent; border-radius: 1px;
  } */

.home,
.encode,
.decode {
  position: relative;
  padding-top: 20px;
}
#canvas,
#encoded-image {
  /*  margin: auto; max-width: calc(100% - 200px); width: 80%; height: fit-content; position: absolute; z-index: 0; */
  max-width: fit-content;
  height: fit-content;
  position: absolute;
  z-index: 0;
  display: block;
  justify-content: center;
  align-items: center;
  filter: blur(3px);
  max-height: 78vh;
  max-width: 90vw;
}
.bold {
  font-weight: bold;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  max-width: 100vw;
  width: 100vw;
  min-height: 75vh;
  max-height: 75vh;
  height: 75vh;
}
