.de-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.b64-textarea {
  width: 100%;
  min-height: 100px;
  resize: none;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.de-btn {
  padding: 10px 20px;
  margin-bottom: 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #0056b3;
}

.decrypted-text {
  margin-bottom: 20px;
}

.copy-button {
  margin-top: 20px;
}
