.pass-gen{
    width: 50%;
    margin: auto;
}

.password-length {
    display: inline-block;
    margin-bottom: 10px;
    font-size: 20px;
  }
  
  .options {
    font-size: 20px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
  }
  
  .options button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    border: 2px solid red;
    margin-left: 10px;
  }
  
  .options button.active {
    border: 2px solid greenyellow;
    background-color: #0056b3;
  }
  
  .options button:hover {
    background-color: #0056b3;
  }
  
  .options button:focus {
    outline: none;
  }
  
  h2 {
    font-size: 2rem;
  }
  
  button {
    font-size: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  button:focus {
    outline: none;
  }
  